---
layout: base.njk
title: Language
section: sprache
---
{% set posts = collections.sprachePosts | byLocale(locale) %}
<h1 class="page-title">{{ i18n[locale].sprache }}</h1>
<p class="page-intro">*(English intro for this topic goes here.)*</p>

{% if posts.length %}
<ul class="entry-list">
  {% for post in posts %}
  <li>
    <span class="entry-date">{{ post.data.date | dateDisplay(locale) }}</span>
    <a class="entry-title" href="{{ post.url }}">{{ post.data.title }}</a>
    {% if post.data.excerpt %}<p class="entry-excerpt">{{ post.data.excerpt }}</p>{% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="empty-note">{{ i18n[locale].noPosts }}</p>
{% endif %}
