---
layout: base.njk
title: Blog
section: blog
---
{% set posts = collections.posts | byLocale(locale) %}
<h1 class="page-title">{{ i18n[locale].blog }}</h1>
<p class="page-intro">Kurze Artikel und Notizen.</p>

{% if posts.length %}
<ul class="entry-list">
  {% for post in posts %}
  <li>
    <span class="entry-date">{{ post.data.date | dateDisplay(locale) }}</span>
    <a class="entry-title" href="{{ post.url }}">{{ post.data.title }}</a>
    {% if post.data.excerpt %}<p class="entry-excerpt">{{ post.data.excerpt }}</p>{% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="empty-note">{{ i18n[locale].noPosts }}</p>
{% endif %}
